{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ course.cid }}" name="cid">
	<label for="cfull">cfull</label>
	<input type="text" value="{{ course.cfull }}" name="cfull" id="cfull">
	<button>Submit</button>
</form>
