{% extends 'layout.html.twig' %}

{% block content %}
    <h1>COurse item {{ course.cfull }}</h1>
    {% include 'Course/_form.html.twig' %}
    <a href="/courses/show?id={{ course.cid }}">Back</a>
{% endblock %}
