{% extends 'layout.html.twig' %}

{% block content %}
    <h1>subject item {{ subject.cfull }}</h1>
    {% include 'Subject/_form.html_update.html.twig' %}
    <a href="/subjects/show?id={{ subject.subid }}">Back</a>
{% endblock %}
