<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>

    <div class="container">
       <div>


<button > <a href="/admin/logout">logout</a></button>
<button > <a href="/admin/login">login</a></button>

       </div>

    </form>
       <div  style="display: flex; flex-direction: row; justify-content: space-between;">
            <header>
                <nav style="margin-top: 200px;">
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/courses">Courses</a></li>
                         <li><a href="/subjects">subject</a></li>
                        <li><a href="/sessions">sessions</a></li>
                        <li><a href="/registrations">registrations</a></li>

                    </ul>
                </nav>
            </header>

            <main style="padding: 10px;">
                {% block content %}{% endblock %}
            </main>
</div>
            <footer>
                <p>© 2022 - Tous droits réservés</p>
            </footer>
        </div>
    </div>
</body>

    {% block javascript %}{% endblock %}
</html>


