<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>

    <div class="container">
        <header>
            <div class="logo">
                <a href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Accueil</a></li>
        <li> <a href="/courses">/courses</a> </li>
                </ul>
            </div>
        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>© 1999 - Tous droits réservés</p>
        </footer>
</body>

    {% block javascript %}{% endblock %}
</html>


