body {
    color: #d07c06;
    background-color: #1a1414;

}
a {
    color: #d07c06;
}
a:hover {
    color: #d07c06;
}

h1{
     text-align: center;
    color: #b601b6;
}
h2{
    text-align: center;
    color: #21d006;
}
ul{
    list-style:georgian;
}
