{% extends 'layout.html.twig' %}

{% block content %}
    <h1>registration item {{ registration.fname }} {{registration.mname}}</h1>
    {% include 'Registration/_form.html_update.html.twig' %}
    <a href="/registrations/show?id={{ registration.id }}">Back</a>
{% endblock %}
